form {
    color: black;
    font-size: 30px;
    background-color: beige;
    
}

fieldset button {
    margin-left: 10px;
    font-size: 15px;
}

fieldset input {
    margin-left: 10px;
    font-size: 20px;
    margin-right: 500px
}



    